// Normally mainpage styles
 
 //header
 .header{
	@include povh('');
	background:url(../img/top_bg.jpg) no-repeat top center  ;
	height: 900px;
	padding: 14px 0 0 0;
 }
	.logo{
		padding: 11px 0 0 0;
		float: left;
		overflow: hidden;
		width: 535px;
		a{
			display: inline-block;
			padding: 6px 25px 0 28px;
			img{
				top: 3px;
				position: relative;
			}
		}
	}
		.slogan{
			padding: 3px 0 0 23px;
			border-left: 1px solid #939393;
			display: inline-block;
			height: 48px; 
			color: #fff;
			font-size: 16px;
			box-sizing: border-box;
		}
	.head_contacts{
		text-align: right;
		width: 200px;
		float: right;
	}
		.tel{
			display: block;
			font-size: 20px;
			color: #fff;
			text-decoration: none;
			padding: 14px 0 0 0;
		}
		.order_call{
			color: #ffffff;
			font-size: 15px;
			display: inline-block;
			border-bottom: 1px dotted #fff;
			text-decoration: none;
			&:hover{
				border-color: transparent;
			}
		}
	.menu{
		margin: 25px 0 0 0;
		text-align: center;
		li{
			display: inline-block;
			a{
				padding: 0 11px;
				display: inline-block;
				height: 29px;
				text-decoration: none;
				color: #b3b3b3;
				border-radius: 14px;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 15px;
				line-height: 29px;
				border: 1px solid transparent;
				&:hover, &.active, &:active{
					border-color: #fff;
					color: #fff;
				}
			}
		}
	}
	.head_bottom{
		padding: 175px 0 0 0;
	}
		.slogan_big{
			float: left;
			width: 442px;
			height: 215px;
			box-sizing: border-box;
			padding: 15px 18px;
			background-color: rgba(177, 41, 45, 0.9);
			color: #fff;
			b{
				font-size: 34px;
				display: block;
				text-transform: uppercase;
				line-height: 50px;
			}
			small{
				color: #ffffff;
				display: block;
				font-size: 18px;
			    animation: flash 5s infinite;
			}
		}
		.main_form{
			float: right;
			background:rgba(0,0,0, 0.5);
			border: 3px solid #fff;
			padding: 27px 18px;
			width: 343px;
			h5{
				font-weight: bold;
				font-size: 	22px;
				color: #ffffff;
				text-align: center;
				text-transform: uppercase;
			}
			h6{
				font-weight: normal;
				font-size: 	18px;
				color: #ffffff;
				text-align: center;
				text-transform: none;
			}
			form{
				padding: 23px 0 0 0;
				div{
					padding: 0 0 11px 0;
				}
				input{
					width: 308px;
					height: 40px;
					border-radius:19px;
					background-color: #fff;
					border: none;
					&.input_name{
						background: #fff url(../img/man_icon.png) no-repeat 20px center;
					}
					&.input_tel{
						background: #fff url(../img/phone_icon.png) no-repeat 20px center;
					}
				}
				small{
					display: block;
					color: #fff;
					font-size: 15px;
					margin: 17px 0 0 0;
					text-align: center;
				}
			}
		}
			.timer{
				text-align: center;
				font-size: 15px;
				color: #c7c6c7;
				strong{
					font-weight: normal;
					display: block;
					padding-bottom: 1px;
				}
				div{
					font-weight: 300;
					color: #ffffff;
					font-size: 36px;
					span{
						display: inline-block;
						padding: 0 5px;
						width: 50px;
						text-align: center;
					}
				}
				nav{
					margin-top: -18px;
					span{
						text-align: center;
						padding: 0 5px;
						width: 50px;
						display: inline-block;
					}
				}
			}
	.tobottom{
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 117px;
		a{
			display: inline-block;
			text-decoration: none;
			small{
				display: block;
				font-size: 16px;
				color: #ffffff;
			}
		}
	}
 //main
 .main{
	@include povh('');
 }
	.preference_wrap{
		margin: 30px 0;
	}
		.title{
			color: #000000;
			text-align: center;
			text-transform: uppercase;
			font-size: 30px;
			font-weight: bold;
			padding-bottom: 25px;
			b{
				color: #b2292e;
			}
		}
		.subtitle{
			color: #8b8f93;
			font-size: 22px;
			font-weight: 300;
			text-align: center;
			padding-bottom: 30px;
		}
		.preference_block{
			@include povh('');
			text-align: center;
		}
			.preference_item{
				text-align: left;
				display: inline-block;
				vertical-align: top;
				width: 299px;
				padding: 0 10px 0px 10px;
				padding-bottom: 38px;
				figure{
					figcaption{
						padding: 22px 0 0 0;
						font-size: 20px;
						color: #000;
						font-weight: bold;
					}
				}
				p{
					padding: 10px 0 0 0;
					font-size: 15px;
					color: #8b8f93;
				}
			}

	.services_wrap{
		background:url(../img/serv_bg.jpg) no-repeat center top;
		height: 450px;
		text-align: center;
		.container{  
			padding: 65px 0 0 0;
		} 
		figure{
			vertical-align: top;
			display: inline-block;
			width: 24%; 
			padding-bottom: 62px;
			img{
				padding-bottom: 10px;
				 -webkit-filter: brightness(200%);
				 -moz-filter: brightness(200%);
				 filter: brightness(200%);
				display: inline-block;
			}
			figcaption{
				font-size: 16px;
				color: #fff;
			}
		}
	}	

	.video_wrap{
		padding: 44px 0;
	}
		.video_block{
			padding-bottom: 30px;
			width: 1000px;
			margin: 0 auto;
		}
			.video_item{
				padding-bottom: 30px;
				@include povh('');
				figure{
					float: left;
					width: 472px;
				}
				section{
					width: 472px;
					float: right;
					height: 277px;
					padding: 0 25px;
					article{
						display: table-cell;
						width: 472px;
						height: 277px;
						vertical-align: middle;
					}
					h6{
						font-size: 24px;
						color: #b2292e;
						font-weight: bold;
						text-transform: uppercase;
						padding-bottom: 25px;
					}
					p{
						font-size: 16px;
						color: #8b8f93;
						padding: 8px 0 0 0;
					}
					strong{
						display: block;
						font-size: 18px;
					}
				}
				&:nth-child(2n){
					figure{
						float: right;
					}
					section{
						float: left;
					}
				}
			}
		.youtube{
			text-align: center;
			a{
				font-size: 18px;
				color: #b2292e;
				display: inline-block;
				small{
					display: block;
					padding: 13px 0 0 0;
				}
			}
		}
	.produce_wrap{
		padding-bottom: 60px;
		.container{
			padding: 38px 0 0 0;
			border-top: 1px solid #dddddd;
		}
		.produce_text{
			padding: 40px 0 0 0;
			img{
				float: left;
				padding: 50px 0 0 0;
			}
			article{
				@include povh('');
				padding:0 0 0 60px;
				color: #8b8f93;
				font-size: 16px;
				line-height: 22px;
				p{
					padding-bottom: 15px;
				}
				strong{
					color: #000;
					display: block;
				}
			}
		}
	}
	.red_text{
		background:#b0161d;
		padding: 17px 0;
		text-align: center;
		color: #fff;
		font-size: 28px;
	}

	.product_wrap{
		background: #f8f8f8;
		padding: 20px 0;
		text-align: center;
		&.product_wrap_thinner{
			.product_block{
				width: 270px;
				height: auto;
				img{
					max-width: 100%;
				}
			}
		}
		.product_block{
			display: inline-block;
			vertical-align: top;
			width: 370px;
			min-height: 637px;
			margin: 0 10px;
			padding: 14px ;
			background-color: #fff;
			text-align: left;
		}
		strong{
			padding: 16px 0 8px 0;
			display: block;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			small{
				display: block;
				font-weight: normal;
				text-transform: none;
				font-size: 17px;
			}
		}
		dl{
			min-height: 220px;
		}
		dt{
			font-weight: bold;
			font-size: 18px;
			padding-bottom: 8px;
		}
		dd{
			font-size: 16px;
			color: #8b8f93;
		}
		b{
			display: block;
			font-size: 20px;
			font-weight: bold;
		}
		nav{
			color: #b7b9bc;
			font-size: 16px;
			padding-bottom: 16px;
			padding-top: 10px;
			a{
				color: #b0161d;
				font-size: 16px;
				text-decoration: none;
				border-bottom: 1px dotted #b0161d;
			}
		}
		.button {
			display: block;
			text-align: center;
		}
	}
	
	.center_form, .wall{
		background: url(../img/center_form_bg.jpg) no-repeat top center;
		height: 597px;
		text-align: center;
		.main_form{
			display: inline-block;
			float: none;
			margin: 60px 0 0 0;
		}
	}

	.prepare_wrap{
		padding: 35px 0;
	}
		.prepare_block{
			text-align: center;
			figure{
				display: inline-block;
				vertical-align: top;
				width: 372px;
				img{
					display: block;
				}
			}
			figcaption{
				color: #fff;
				background:#b2292e;
				height: 70px;
				small{
					font-size: 16px;
					display: block;
					padding: 9px 0 0 0;
				}
				b{
					font-size: 20px;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
	
	.wall{
		background:url(../img/wall.jpg) no-repeat top center;
		.main_form{
			width: 711px;
			input{
				margin: 0 10px;
			}
			.input_txt{
				width:640px;
				padding-left: 15px;
			}
		}
	}
	
	.house_wrap{
		padding: 35px 0;
		.video_item{
			article{
				a{
					display: inline-block;
					margin-top: 12px;
					font-size: 16px;
					color: #b2292e;
					text-decoration: none;
					border-bottom: 1px dotted #b2292e;
					&:hover{
						border-color: #fff;
					}
				}
			}
		}
	}
	
	.diller_wrap{
		background:#f8f8f8;
		padding: 25px 0 0 0;
	}
		.diller_block{
			@include povh('');
			figure{
				float: right;
			}
			article{
				padding: 27px 40px 0 0;
				@include povh('');
				font-size: 18px;
				color: #8b8f93;
				p{
					padding-bottom: 23px;
				}
			}
		}
	
	.clients_wrap{
		padding: 30px 0;
	}
		.clients_block{
			@include povh('');
			padding-top: 40px;
			text-align: center;
			.clients_item{
				display: inline-block;
				width: 33%;
				box-sizing: border-box;
				padding: 0 30px;
				vertical-align: top;
				padding-bottom: 50px;
				color: #8b8f93;
				font-size: 16px;
				figcaption{
					font-size: 18px;
					font-weight: bold;
					color: #000;
				}
			}
		}

	.steps_wrap{
		background:#f8f8f8;
		padding: 40px 0;
		.title{
			font-size: 30px;
			font-weight: bold;
			color: #000000;
		}
	}
		.steps_block{
			margin: 40px 0 0 0;
			text-align: center;
			background:url(../img/step.png) no-repeat top center;
			padding: 110px 0 0 0;
			dl{
				display: inline-block;
				width: 270px;
				vertical-align: top;
				margin: 0 0px 0 0px;
				&:nth-child(2){
					margin:0 48px;
				}
				dt{
					font-weight: bold;
					font-size: 20px;
					color: #000000;
				}
				dd{
					font-size: 18px;
					color: #8b8f93;
				}
			}
		}
	
	.delivery_wrap{
		padding: 38px 0;
		article{
			@include povh('');
			padding: 35px 0 0 56px;
			color: #8b8f93;
			font-size: 16px;
			b{
				display: block;
				color: #000;
			}
			p{
				padding-bottom: 16px;
			}
		}
	}
		.delivery_block{
			@include povh('');
		}
			.delivery_slider{
				float: left;
				@include povh('');
				width: 570px ;
				height: 330px;
				.bx-wrapper, .bx-wrapper .bx-viewport{
					margin: 0;
					box-shadow: none;
					padding: 0;
				}
				.bx-wrapper .bx-pager{
					display: none;
				}
				.bx-wrapper .bx-caption{
					background:rgba(0,0,0,0.8);
					text-align: center;
					font-size: 20px;
					color: #fff;
					height: 50px;
				}
				#slider-next, #slider-prev{
					position: absolute;
					bottom: 14px;
					z-index: 100;
					width: 12px;
					height: 21px;
					color: transparent;
					background:url(../img/arr_right.png) no-repeat left center;
					a{
						display: block;
						width: 12px;
						height: 21px;
					}
				}
				#slider-next{
					right: 14px;
				}
				#slider-prev{
					left: 14px;
					background:url(../img/arr_left.png) no-repeat left center;
				}
				.bx-wrapper .bx-caption span{
					font-size: 20px;
					font-family: $ffamily;
					padding: 8px;
				}
			}	

	.pay_wrap{
		padding: 30px 0 80px 0;
		background:#f8f8f8;
	}
		.pay{
			padding: 40px 0 0 0 ;
			text-align: center;
			figure{
				display: inline-block;
				width: 33%;
				vertical-align: top;
				font-size: 16px;
				color: #8b8f93;
				transition: all 0.5s ease;
				span{
					display: block;
					height: 73px;
				}
				figcaption{
					b{
						font-size: 18px;
						display: block;
						color: #000;
					}
				}
				&:hover{
					transform: scale(1.05);
				}	
			}
		}

	.reviews_wrap{
		padding: 35px 0;
	}
		.rev_col{
			@include povh('');
			padding-bottom: 40px;
			dl{
				width: 430px;
				@include povh('');
				dt{
					font-size: 18px;
					font-weight: bold;
					color: #000000;
					padding-bottom: 13px;
					span{
						display: block;
						font-weight: normal;
					}
				}
				dd{
					font-size: 16px;
					color: #8b8f93;

				}
			}
		}
	
	.thanks_partners{
		background:#f8f8f8;
		padding: 29px 0 ;
	}
		.thanks_partners_images{
			text-align: center;
			a{
				display: inline-block;
				img{
					display: block;
					border: 4px solid #fff;
					background-color: #00a7e5;
					box-shadow: 1px 2px 7px rgba(0,0,0,.2);
					margin: 0 8px;
				}
			}
		}

	.office_wrap{
		padding: 35px 0;
	}
		.office_block{
			@include povh('');
			.float_left{
				width: 391px;
				p{
					font-size: 18px;
					color: #111111;
					padding-bottom: 20px;
					b{
						font-weight: bold;
					}
				}
				strong{
					display: block;
					font-weight: normal;
					font-size: 20px;
					padding-bottom: 10px;
					text-transform: uppercase;
				}
				input, textarea{
					border: 1px solid #aebfcb;
					margin-bottom: 12px;
				}
				.input_mail{
					background:url(../img/mail.png) no-repeat  20px center;
				}
				textarea{
					padding-left: 20px;
				}
				.button{
					margin: 0 80px 0 0;
				}
			}
		}
	
	.sub_vk{
		background:#f8f8f8;
		padding: 23px 0;
		text-align: center;
		strong{
			text-transform: uppercase;
			font-size: 22px;
			color: #000000;
			font-weight: normal;
			padding-bottom: 22px;
			display: block;
		}
	}

 //footer
 .footer{
	@include povh('');
	height: 720px;

	.main_form{
		width: 310px;
		background: none;
		border: none;
		padding-top: 37px;
		form{
			margin-top: 0;
			padding-top: 0;
		}
		.button{
			display: block;
			width: 308px;
		}
		h5{
			padding-bottom: 15px;
		}
	}
 }
 	.map{
 		position: absolute;
 		top: 0;
 		left: 0;
 		width: 100%;
 		height: 720px;
 	}

	.foot_wrap{
		@include povh('');
		z-index: 5;
		width: 1164px;
		height: 264px;
		border: 3px solid #fff;
		background-color: rgba(37,37,37, 0.8);
		margin: 0 auto;
		margin-top: 441px;
	}	
		.foot_logo{
			float: left;
			padding: 27px;
		}
		.foot_address{
			@include povh('');
			float: left;
			width: 354px;
			font-size: 17px;
			color: #ffffff;
			padding-top: 40px;
			padding-left: 50px;
			span{
				font-size: 16px;
				color: #a0a0a0;
				display: block;
			}
			p{
				padding-bottom: 14px;
			}
		}




/*---------------multi------------------------*/
.header_black{
	height: 700px;
	background: #f8f8f8 url(../img/big_brick.jpg) no-repeat center bottom;
	.logo{
		.slogan{
			color: #363636;
		}	
	}
	.tel{
		color: #363636;
	}
	.order_call{
		color: #b0161d;
		border-color: #b0161d;
	}
	.menu li a{
		color: #757575;
	}
	.menu li a:hover, .menu li a.active{
		color: #b0161d;
		border-color: #b0161d;
	}
}

.head_product_wrap{
	padding: 60px 0 0 0;
	width: 465px;
}
	.head_product_title{
		border-left: 5px solid #b2292e;
		padding-left: 10px;
		height: 245px;
		h6{
			font-weight: bold;
			text-transform: uppercase;
			font-size: 40px;
			line-height: 1.1;
			padding-bottom: 10px;
		}
		small{
			font-size: 20px;
			color: #000000;
		}
	}
	.head_product_price{
		padding-left: 17px;
		margin-top: 29px;
		strong{
			font-size: 35px;
			color: #b2292e;
			display: block;
		}
		span{
			font-size: 24px;
			font-weight: bold;
			color: #838383;
			display: block;
			padding-bottom: 14px;
		}
	}
	.head_product_button{
		padding-left: 17px;
		margin-top: 19px;
		.button{
			width: 271px;
			font-size: 18px;
			text-align: center;
			padding: 15px 0;
		}
	}
.questions_wrap{
	background:#363636;
	padding: 28px 0;
	.title{
		color: #fff;
		font-size: 24px;
	}
	.main_form{
		float: none;
		width: 100%;
		border: none;
		padding: 0;
		background: none;
		text-align: center;
		form{
			padding: 0
		}
		div{
			display: inline-block;
		}
		.input_tel{
			margin: 0 15px;
		}
		.button{
			width: 245px;
			text-align: center;
		}
	}
}

.about_bricks{
	@include povh('');
	padding: 44px 0;
	img{
		float: left;
		padding: 0 20px 0 0;
	}
	article{
		@include povh('');
		font-size: 15px;
		color: #8b8f93;
		p{
			padding-bottom: 15px;
		}
		h5{
			font-size: 25px;
			color: #000000;
			text-transform: uppercase;
			font-weight: bold;
			padding-bottom: 5px;
		}
	}
}

.tech_wrap{
	padding: 35px 0 ;
	background:url(../img/brick_size.png) no-repeat center 120px ;
}
	.tech_block{
		ul{
			margin: 160px 0 0 0;
			padding-left: 25px;
			height: 405px;
			background:url(../img/tech_item.png) repeat-y left top;
			width: 455px;
			float: right;
			line-height: 28px;
			color: #8b8f93;
			font-size: 16px;
			b{
				color: #000000;
				font-weight: normal;
			}
			li{
				position: relative;
				bottom: 7px;
			}
		}
	}


/*-------------modal------------*/
.modal{
	padding: 23px;
}
	.modal_title{
		font-weight: bold;
		font-size: 30px;
		color: #000;
		text-transform: uppercase;
	}
	.modal_subtitle{
		color: #000;
		font-size: 16px;
		padding-bottom: 20px;
	}
	.modal_project{
		@include povh('');
		line-height: 22px;
		color: #8b8f93;
		font-size: 16px;
		width: 940px;
		p, ul{
			padding-bottom: 24px;
		}
		b{
			font-weight: normal;
			color: #000000;
		}
		article{
			@include povh('');
		}
	}
		.modal_project_images{
			float: left;
			width: 400px;
			padding:  0 33px 0 0;
		}
.modal{
	.main_form{
		border: none;
		background: none;
		h5{
			color: #000;
		}
		input{
			border: 1px solid #aebfcb;
		}
		div{
			text-align: center;
		}
		small{
			color: #aeaeae;
			font-size: 13px;

		}
		.input_numb{
			padding-left: 15px;
		}
		h6{
			font-weight: bold;
			font-size: 18px;
			color: #6b6b6b;
		}
	}
	.head_product_price{
		strong, span{
			display: inline-block;
			padding: 0 20px 0 0;
		}
	}
}
.brick_modal_tags{
	text-align: center;
	padding: 36px 0 0  0;
	figure{
		text-align: left;
		display: inline-block;
		width: 24%;
		padding-bottom: 17px;
		img{
			float: left;
			padding: 0 13px 22px 0 ;
		}
		figcaption{
			@include povh('');
			font-size: 15px;
			color: #8b8f93;
		}
	}
}


/*----------menu-----------*/
.menu.fixed{
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	height: 57px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	ul{
		padding: 12px 0 0 0;
		li{
			a{
				color: #b3b3b3;
				&.active, &:hover{
					color: #b0161d;
					border-color: #b0161d;
				}
			}
		}
	}
}